@import '../main';

.avatar {
  display: inline-flex;
  align-items: center;
  padding: 4px;
  background-color: $color-secondary;
  border-radius: 100px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
  }

  &__initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 6px;
    color: $color-white;
    font-size: 12px;
    line-height: 12px;
    background-color: $color-primary;
    border-radius: 100px;
  }

  &__title {
    padding: 3px 6px;
    color: $color-primary;
    font-size: 12px;
  }
}