@import '../main';

.button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .175px;
  border-width: 1px;
  border-style: solid;
  border-color: $color-primary;
  border-radius: $border-radius-round;
  transition: .2s all ease-in-out;

  &--primary {
    color: $color-white;
    background-color: $color-primary;

    &:hover {
      background-color: $color-trietary;
      border-color: transparent;
    }
  }

  &--secondary {
    color: $color-primary;
    background-color: $color-white;

    &:hover {
      background-color: $color-secondary;
      border-color: $color-secondary;
    }
  }
  
  &--icon,
  &--icon-only {
    svg,
    i {
      width: 24px;
      height: 24px;
    }
  }

  &--large,
  &--small {
    padding: 6px 24px;

    &.button {
      &--icon-only {
        display: inline-flex;
        justify-content: center;
        padding: 0;
      }
    }
  }

  &--large {
    line-height: 36px;

    &.button {
      &--icon-only {
        width: 48px;
        height: 48px;
      }
    }
  }

  &--small {
    line-height: 18px;

    &.button {
      &--icon-only {
        width: 32px;
        height: 32px;
      }

      &--icon,
      &--icon-only {
        svg,
        i {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &--icon {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 12px;
  }

  &--icon-only {
    display: inline-flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 0;
  }

  &--disabled,
  &[disabled] {
    color: $color-white;
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
}