@import '../main';

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;

  svg {
    position: absolute;
    right: 1rem;
  }

  &.error {
    .input {
      border-color: $color-error;

      &::placeholder {
        color: $color-orange;
        opacity: 0.64;
      }

      &:focus {
        border: 2px solid $color-error;
        background-color: $color-light-orange;
      }
    }

    svg {
      color: $color-orange;
    }
  }
}

.input-label {
  display: block;
  margin-bottom: .4rem;
  font-size: .875rem;
  color: $color-primary;
}

.input-helper-text {
  display: block;
  margin-top: .4rem;
  font-size: .75rem;
  color: $color-trietary;
}

.input {
  padding: .75rem 3rem .75rem 1rem;
  border: 1px solid $color-primary;
  border-radius: .5rem;
  box-shadow: 0px 1px 2px 0px rgba(21, 21, 21, 0.08);

  &--small {
    height: 2rem;
    font-size: .875rem;
  }

  &--medium {
    height: 2.5rem;
  }

  &--large {
    height: 3rem;
  }

  &::placeholder {
    font-size: .875rem;
    color: $color-trietary;
  }

  &:focus {
    background-color: $color-secondary;
    border: 2px solid $color-primary;
    outline: none;
  }

  &:disabled {
    border: none;
    background-color: #C4D2DD;
  }

  &:disabled,
  &::placeholder {
    color: rgba(23, 49, 72, 0.25);
  }
}

.disabled {
  .input__label {
    color: rgba(23, 49, 72, 0.25);
  }

  .helper-text {
    color: rgba(23, 49, 72, 0.25);
  }

  svg {
    opacity: .25;
  }
}