@import '../main';

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;

  svg {
    position: absolute;
    right: 16px;
  }

  &.error {
    .input {
      border-color: $color-error;

      &::placeholder {
        color: $color-orange;
        opacity: 0.64;
      }

      &:focus {
        border: 2px solid $color-error;
        background-color: $color-light-orange;
      }
    }

    svg {
      color: $color-orange;
    }
  }
}

.input-label,
.input-helper-text {
  display: block;
  font-size: 12px;
}

.input-label {
  margin-bottom: 6px;
  color: $color-primary;
}

.input-helper-text {
  margin-top: 6px;
  color: $color-trietary;
}

.input {
  padding: 12px 45px 12px 16px;
  font-size: 14px;
  border: 1px solid $color-primary;
  border-radius: .5rem;
  box-shadow: 0px 1px 2px 0px rgba(21, 21, 21, 0.08);

  &--small {
    height: 32px;
  }

  &--medium {
    height: 40px;
  }

  &--large {
    height: 48px;
  }

  &::placeholder {
    font-size: 14px;
    color: $color-trietary;
  }

  &:focus {
    background-color: $color-secondary;
    border: 2px solid $color-primary;
    outline: none;
  }

  &:disabled {
    border: none;
    background-color: #C4D2DD;
  }

  &:disabled,
  &::placeholder {
    color: $color-overlay;
  }
}

.disabled {
  .input-label {
    color: $color-overlay;
  }

  .input-helper-text {
    color: $color-overlay;
  }

  svg {
    opacity: .25;
  }
}