@import '../main';

.radio-btn {
  display: flex;
  width: fit-content;

  &__form-label {
    font-size: 16px;
    line-height: 150%;
  }

  &__helper-text {
    padding-top: 3px;
    font-size: 12px;
    line-height: 166%;
  }

  label {
    font-size: 14px;
  }

  input {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 9px;
    border-radius: 999px;
    cursor: pointer;

    &::before {
      display: block;
      border-radius: 999px;
      content: '';
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &--horizontal {
    flex-direction: row;
    gap: 24px;
  }

  &--start,
  &--end {
    align-items: center;
  }

  &--top,
  &--bottom {
    text-align: center;
  }

  &--start {
    flex-direction: row;
  }

  &--end {
    flex-direction: row-reverse;
  }

  &--top {
    flex-direction: column;
  }

  &--bottom {
    flex-direction: column-reverse;
  }

  &.radio-btn--disabled {
    color: $color-overlay;

    input {
      &::before {
        border-color: $color-overlay;
      }

      &:checked::before {
        border-color: $color-overlay;
      }

      &:checked:after {
        background-color: $color-overlay;
      }
    }

    &:hover,
    &:focus {
      input {
        background-color: transparent;
      }
    }
  }

  &--small {
    input {
      &::before {
        width: 20px;
        height: 20px;
        content: '';
      }

      &:checked {
        &::after {
          position: absolute;
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 999px;
          content: '';
        }
      }
    }
  }

  &--medium {
    input {
      &::before {
        width: 24px;
        height: 24px;
        content: '';
      }

      &:checked {
        &::after {
          position: absolute;
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 999px;
          content: '';
        }
      }
    }
  }

  &--large {
    input {
      &::before {
        width: 28px;
        height: 28px;
        border-width: 2.5px !important;
        content: '';
      }

      &:checked {
        &::after {
          position: absolute;
          display: block;
          width: 14px;
          height: 14px;
          border-radius: 999px;
          content: '';
        }
      }
    }
  }

  &--default {
    &:hover {
      input {
        background-color: $color-secondary;
      }
    }

    input {
      &::before {
        border: 2px solid $color-primary;
        content: '';
      }

      &:checked {
        &::after {
          background-color: $color-primary;
          content: '';
        }
      }

      &:focus {
        background-color: $color-secondary;
      }
    }
  }

  &--error {
    &:hover {
      input {
        background-color: rgba(211 47 47 / 0.04);
      }
    }

    input {
      &::before {
        border: 2px solid #00000099;
      }

      &:checked::before {
        border-color: $color-red;
      }

      &:checked:after {
        background-color: $color-red;
      }

      &:focus {
        background-color: rgba(211 47 47 / 0.30);
      }
    }
  }

  &--warning {
    &:hover {
      input {
        background-color: rgba(239 108 0 / 0.04);
      }
    }

    input {
      &::before {
        border: 2px solid #00000099;
      }

      &:checked::before {
        border-color: $color-warning;
      }

      &:checked:after {
        background-color: $color-warning;
      }

      &:focus {
        background-color: rgba(239 108 0 / 0.30);
      }
    }
  }

  &--success {
    &:hover {
      input {
        background-color: rgba(46 125 50 / 0.04);
      }
    }

    input {
      &::before {
        border: 2px solid #00000099;
      }

      &:checked::before {
        border-color: $color-success;
      }

      &:checked:after {
        background-color: $color-success;
      }

      &:focus {
        background-color: rgba(46 125 50 / 0.30);
      }
    }
  }
}