@import '../main';

.select {
  &__wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;

    &--disabled {
      .choices {
        .choices {
          &__inner {
            border: 0;
          }
        }

        &::after {
          opacity: .5 !important;
        }
      }

      .select__label {
        opacity: .5;
      }
    }

    &--default {
      .choices {
        &__inner {
          background-color: transparent;
          border: 1px solid $color-primary;
        }

        &__input {
          &::placeholder {
            color: $color-primary;
            font-weight: 500;
            opacity: 1;
          }
        }

        &__placeholder {
          color: $color-primary;
          opacity: 1;
        }
      }
    }

    &--error {
      .select__label {
        color: $color-error;
      }

      .choices {
        &__inner {
          background-color: transparent;
          border: 1px solid $color-error;
        }

        &__placeholder {
          color: $color-error;
          opacity: 1;
        }

        &__input {
          &::placeholder {
            color: $color-error;
            font-weight: 500;
            opacity: 1;
          }
        }
      }
    }

    &--no-border {
      .choices__inner {
        border: 0;
      }
    }

    .choices {
      .choices {
        &__inner {
          display: flex;
          width: 220px;
          padding-bottom: 0;
          color: $color-primary;
          border-radius: 8px;
          transition: all .3s ease-in-out;

          &:hover,
          &:focus {
            background-color: $color-secondary;
            cursor: pointer;
          }
        }
  
        &__list {
          &--dropdown {
            top: calc(100% + 9px);
            padding: 8px 0;
            border: 1px solid rgba(23, 49, 72, 0.25);
            border-radius: 8px;
            box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

            .choices {
              &__list {
                padding: 0;
              }

              &__item {
                padding: 6px 16px;
                color: $color-primary;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;

                &.is-highlighted,
                &.is-selected {
                  background-color: $color-secondary;
                }

                &--disabled {
                  display: none !important;
                }
              }
            }
          }

          &--single {
            padding: 5px 0 0;

            button {
              display: none;
            }
          }

          &--multiple {
            display: flex;

            .choices {
              &__item {
                margin: 5px 5px 0 0;
              }
            }
          }
        }

        &__input {
          margin: 0;
          padding-bottom: 0;
          padding-left: 0;
          background-color: transparent;
        }

        &__placeholder {
          font-weight: 500;
        }
      }
    }

    .choices[data-type="select-multiple"] {
      width: 100%;
      min-width: 220px;
      
      &::after {
        position: absolute;
        top: 50%;
        right: 11.5px;
        height: 0;
        width: 0;
        margin-top: -2.5px;
        border-style: solid;
        border-color: $color-primary transparent transparent;
        border-width: 5px;
        pointer-events: none;
        opacity: 1;
        content: "";
      }

      &.is-open {
        &::after {
          top: 40%;
          border-color: transparent transparent $color-primary;
        }
      }

      .choices__inner {
        width: 100%;

        &.is-selected {
          input {
            display: none;
          }
        }
      }

      .choices__input {
        &:not(:only-of-type) {
          display: none;
        }
      }
    }

    &--medium {
      .choices {
        .choices {
          &__inner {
            padding: 22px 36px 10px 12px;
          }

          &__list--single,
          &__input {
            padding-top: 3px;
          }
        }
      }

      &.select__wrapper--no-label {
        .choices {
          &__inner {
            padding: 16px 36px 16px 12px;

            .choices {
              &__input {
                padding-top: 0;
              }

              &__list--multiple {
                .choices__item {
                  margin-top : 0;
                }
              }
            }

            .choices__input {
              padding-top: 0;
            }
          }
        }
      }
    }

    &--small {
      .choices {
        .choices__inner {
          padding: 15px 36px 5px 12px;
        }

        &__list--single,
        &__input {
          padding-top: 3px;
        }
      }

      .select__label {
        top: 5px;
      }

      &.select__wrapper--no-label {
        .choices {
          &__inner {
            padding: 10px 12px;
          }

          &__list--single,
          &__input {
            padding-top: 3px;
          }
        }
      }
    }

    label {
      font-weight: 400;
      font-size: 12px;
    }

    select {
      font-weight: 500;
    }

    &.dropdown {
      &--default {
        .choices__list {
          &--dropdown {
            width: 100%;
          }
        }
      }

      &--auto {
        .choices__inner {
          width: auto;
        }

        .choices__list {
          &--dropdown {
            width: auto;
          }
        }

        .choices__item {
          white-space: nowrap;
        }
      }
    }

    &__values {
      &--default {
        .choices__list--multiple {
          .choices__item {
            display: flex;
            margin: 0;
            padding: 0;
            color: $color-primary;
            font-size: 14px;
            background-color: transparent;
            border: 0;
  
            &:not(:last-of-type):not(:only-of-type) {
              &::after {
                display: block;
                content: ',';
              }
            }

            button {
              display: none;
            }
          }
        }
      }

      &--chip {
        .choices__list--multiple {
          .choices__item {
            display: flex;
            color: $color-white;
            font-size: 14px;
            background-color: $color-primary;
          }
        }
      }
    }

    &--checkbox {
      .choices[data-type="select-multiple"] {
        .choices {
          &__list--dropdown {
            .choices__item {
              position: relative;
              display: flex;
              gap: 10px;

              &::before {
                display: block;
                width: 18px;
                height: 18px;
                border: 2px solid $color-primary;
                border-radius: 3px;
                content: '';
              }

              &::after {
                position: absolute;
                top: 11px;
                left: 20px;
                display: none;
                width: 10px;
                height: 6px;
                border-top: 2px solid $color-primary;
                border-right: 2px solid $color-primary;
                transform: rotate(135deg);
                opacity: 1;
                content: '';
              }

              &.is-selected {
                input {
                  display: none;
                }

                &::after {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }

  &__label {
    position: absolute;
    top: 10px;
    left: 13px;
    z-index: 9;
    color: $color-primary;
  }
}