@import '../main';

.table {
  order: 2;
  width: 100%;
  color: $color-primary;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.20);

    .pagination {
      order: 5;
      padding-bottom: 8px;
      
      &__list {
        justify-content: center;
      }
    }
  }

  &__container {
    order: 3;
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
  }

  &__head {
    order: 1;
    width: 100%;
    padding: 16px;
  }

  &__selector {
    order: 2;
    gap: 18px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding: 8px 16px;
    font-size: 12px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__title {
    color: $color-primary;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.03px;
  }

  &__description {
    color: $color-primary;
    font-weight: 400;
    font-size: 16px;
  }

  &__title,
  &__description {
    line-height: normal;
  }

  &__row {
    &--expanded {
      .table__toggle {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  tbody {
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      &:focus {
        background-color: $color-secondary;
      }
    }
  }

  tr {
    &.selected {
      background-color: $color-secondary;
    }
  }

  td,
  th {
    padding: 16px;
    vertical-align: middle;
    white-space: nowrap;

    &.small {
      padding: 6px 16px;

      .table__checkbox {
        &::before {
          width: 16px;
          height: 16px;
        }
      }
    }

    span {
      vertical-align: middle;
    }
  }

  th {
    font-weight: 400;
    font-size: 12px;

    svg {
      width: 18px;
      height: 18px;
      margin: 0 4px;
      vertical-align: middle;
    }
  }

  td {
    &.expandable-row {
      padding: 24px;
      white-space: normal;
    }
  }

  &__cell {
    &--checkbox {
      padding: 7px 4px !important;
    }

    &.table__cell--icon {
      svg {
        width: 24px;
        height: 24px;
        margin-right: 0;
        opacity: .75;
      }
    }

    &__instance {
      font-size: 14px;
    }

    svg {
      width: 18px;
      height: 18px;
      margin-right: 10px;
      vertical-align: sub;
    }

    &__wrapper {
      display: inline-flex;
      flex-direction: column;
    }
  }

  &__checkbox {
    position: relative;
    appearance: none;
    margin: 0;
    padding: 10px !important;
    cursor: pointer;

    &:focus {
      border-radius: 999px;
    }

    &::before {
      display: block;
      width: 18px;
      height: 18px;
      border: 2px solid $color-primary;
      border-radius: 3px;
      content: '';
    }

    &:checked {
      &::after {
        position: absolute;
        top: 10px;
        display: block;
        transform: rotate(45deg);
        border-radius: 0;
        content: '';
      }
    }
  }

  &__toggle {
    width: 5%;

    svg {
      width: 18px;
      height: 18px;
      color: rgba(0, 0, 0, 0.56);
      transition: all .2s ease-in-out;
    }
  }

  &__overflow {
    text-align: right;

    span {
      display: inline-flex;
      padding: 8px;
      background-color: $color-secondary;
      border-radius: 100px;

      svg {
        width: 20px;
        height: 20px;
        color: rgba(0, 0, 0, 0.56);
      }
    }
  }

  &__foot {
    order: 4;
    display: flex;
    gap: 26px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    font-size: 12px;

    svg {
      width: 20px;
      height: 20px;
      color: rgba(0, 0, 0, 0.56);
    }

    &__label {
      color: rgba(0, 0, 0, 0.6);
    }

    &__dropdown {
      display: flex;
      align-items: center;
    }

    &__select-container {
      position: relative;
      display: flex;

      &::after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgba(0, 0, 0, 0.56);
        pointer-events: none;
        content: '';
      }
    }

    &__select {
      padding: 4px 16px 4px 8px;
      font-size: 12px;
      outline: none;
    }

    &__chevron {
      padding: 8px;
      cursor: pointer;
    }

    &__count {
      color: $color-primary;
    }
  }
}